################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.Cache
*.old
*.suo
*.user
.vs
/MySQLTuner/bin
/MySQLTuner/obj
/MySQLTuner .Net 2.0/bin
/MySQLTuner .Net 2.0/obj
/MySqlTuner Test Cases/bin
/MySqlTuner Test Cases/obj
/packages
Thumbs.db
