################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.old
*.suo
*.user
/MySQLTuner/bin
/MySQLTuner/obj
/MySqlTuner Test Cases/bin
/MySqlTuner Test Cases/obj
/packages
